<!Doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset=" utf-8"/>
		<title>invoice</title>
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
		<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/handlingPages/invoice.css">
	</head>
	<body>
        <table>
            <thead>
                <th>Facture</th>
                <th>entête2</th>
            </thead>
            <tbody>
                <tr><td>Numéro Facture</td><td>Date et heure</td></tr>
                <tr><td>M(Mme)</td><td>Nom & Prénoms Patient</td></tr>
                <tr><td>Prestation</td><td>Nom Prestation</td></tr>
                <tr><td>Médecin</td><td>Nom Prestation</td></tr>
                <tr><td>Centre</td><td>Nom Prestation</td></tr>
                <tr><td>Assurance</td><td>Nom Prestation</td></tr>
                <tr><td>Coût de la prestation</td><td>Nom Prestation</td></tr>
                <tr><td>Réduction</td><td>Nom Prestation</td></tr>
                <tr><td>Montant total à payer</td><td>Nom Prestation</td></tr>
                <tr><td>Montant versé</td><td>Nom Prestation</td></tr>
                <tr><td>Montant reçut</td><td>Nom Prestation</td></tr>
            </tbody>
        </table>
    </body>
    <script src="../js/invoice.js"></script>
</html>
