<!Doctype html>
<html>
    <head>
        <title>FACTURE</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/handlingPages/ori/invoice.css">
    </head>
    <body>
        <div class="container table-responsive">
            <div class="row">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <a href="loginPagePropositionParOri.html" class="navbar-brand"><img src="../img/icones/home2Yellow.png" alt="home_icon" class="img-responsive icon"></a>
                    </div>              
                    <ul class="nav navbar-nav navbar-right">
                        <li class="patientInfos"><a href="./handlePatientsPage.html"><form action=""><div class="form-group"><input type="text" class="form-control navbar-btn userInfos" id="userInfos" readonly></div></form></a></li>
                        <li><a href="./handlePatientsPage.html"><img src=".././img/userProfils/userProfil1.png" class="img-circle img-responsive" style=" height: 50px;" /></a></li>
                    </ul>
                </nav>
            </div> <!-- fin row nav -->
            <div class="row row1">
            </div>
            <div class="row row2">
                <div class="col-xs-1 col-sm-1 col-md-1"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 logoCHUT"></div>
                <div class="col-xs-5 col-sm-5 col-md-5"></div>
                <div class="col-xs-3 col-sm-3 col-md-3" style="height: 100px; background-color: #0000ff48;"><br /><br /><b>#</b><b id="invoiceNumber">FACTURE</b></div>
                <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>
            <div class="row row3">
                <div class="col-xs-1 col-sm-1 col-md-1"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 centerInfos"><br /><u>CENTRE</u><br><p id="centerInfos2">Cabinet dentaire</p></div>
                <div class="col-xs-5 col-sm-5 col-md-5"></div>
                <div class="col-xs-3 col-sm-3 col-md-3" style="height: 150px; background-color: #ff000048;"><u>Patient</u><br /><p id="patientInfos">Lorem ipsum dolor sit amet consectetur adipisicing.</p><u>Médecin</u><br /><p id="userInfos2">Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>
                <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1">
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10">
                    <table class="table table-striped" id="state0neTab">
                        <thead>
                            <th>#</th>
                            <th>PRESTATION</th>
                            <th>ASSURANCE</th>
                            <th>COÛT DE LA PRESTATION</th>
                        </thead>
                        <tbody id="invoiceTableBody1">
                            <tr>
                                <td>1</td>
                                <td id="prestationWording">EXTRACTION</td>
                                <td id="conventionWording">CMU</td>
                                <td itemref="prestationPrice1">10000 FCFA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1">
                </div>
            </div> <!-- fin row tableau1 -->
            <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-7">
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <table class="table" id="state0neTab">
                        <thead>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody id="invoiceTableBody2">
                            <tr>
                                <td><b>Sous-total</b></td>
                                <td id="prestationPrice2">10100 FCFA</td>
                            </tr>
                            <tr>
                                <td><b>Réduction (<b id="reduction">70%</b>)</b></td>
                                <td id="prestationPrice3">70100 FCFA</td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td id="prestationTotalPrice">29100 FCFA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1">
                </div>
            </div> <!-- fin row tableau2 -->
            <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-7"></div>
                <div class="form-group col-xs-2 col-sm-2 col-md-2">
                    <a href="./handlePatientsPage.html"><input type="button" class="btn-success form-control" value="OK" id="addRowBtn"/></a>
                </div>
                <div class="form-group col-xs-2 col-sm-2 col-md-2">
                    <a href="./handlePatientsPage.html"><input type="button" class="btn-info form-control" value="IMPRIMER" id="addRowBtn"/></a>
                </div>
            </div>  
        </div>
    </body>
    <script src="../js/invoice.js"></script>
</html>