<!Doctype html>
<html>
	<head>
			<title>Ajout d'un patient</title>
			
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			<link rel="stylesheet" type="text/css" href="../css/handlingPages/styleSavePatientPage.css">
	</head> 
	<body>
		<div class="container container21 container22">
			<div class="row">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <a href="loginPagePropositionParOri.html" class="navbar-brand"><img src="../img/icones/home2Yellow.png" alt="home_icon" class="img-responsive icon"></a>
                    </div>                
                    <ul class="nav navbar-nav">
                        <li class="patientInfos"><a href="#"><form action=""><div class="form-group"><input type="text" class="form-control" id="userId" readonly></div></form></a></li>
                        <li><a href="#"><img src=".././img/userProfils/userProfil1.png" class="img-circle img-responsive" style=" height: 50px;" /></a></li>
                    </ul>
                </nav>
            </div> <!-- fin container nav -->
			<div class="row">
				<form action="" id="saveForm">
					<div class="form-group col-xs-12 col-sm-6 col-md-6">
						<label for="nameEntered">Nom</label>
						<input class="form-control" type="text" id="nameEntered">
						<label for="firsNameEntered">Prénoms</label>
						<input type="text" class="form-control" id="firstNameEntered">
						<label for="bearthDateEntered">Date de naissansse</label>
						<input type="datetime-local" class="form-control" id="birthDateEntered">
						<label for="pieceNumberEntered">Numéro de la pièce</label>
						<input type="text" class="form-control" id="pieceNumberEntered">
						<label for="typeOfPieceEntered">Type de pièce</label>
						<input type="text" class="form-control" id="typeOfPieceEntered" list="typeOfPiece">
							<datalist id="typeOfPiece">	
								<option value="Attestation d'Identité">
								<option value="Carte Nationale d'Identité">
								<option value="Passeport">
							</datalist><br/>
						<label for="" class="radio-inline" ><input type="radio" name="genre" checked> Masculin </label>
						<label for="" class="radio-inline" ><input type="radio" name="genre"> Féminin</label>
						<label for="" class="radio-inline" ><input type="radio" name="genre"> Autres </label> <br/> <br/>
						<label for="addressEntrered">Adresse</label>
						<input class="form-control" type="text" id="addressEntered">
						<label for="placeOfResidenceEntered">Lieu de résidence</label>
						<input type="text" class="form-control" id="placeOfResidenceEntered">					
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-6">					
						<label for="phoneNumberEntered">Téléphone</label>
						<input type="text" class="form-control" id="phoneNumberEntered">
						<label for="employerEntered">Employer</label>
						<input type="text" class="form-control" id="employerEntered">
						<label for="electricityReleaseEntered">Quittance CIE</label>
						<input type="text" class="form-control" id="electricityReleaseEntered">
						<label for="waterClearanceEntered">Quittance SODECI</label>
						<input type="text" class="form-control" id="waterClearanceEntered">
						<label for="nationalityEntered">Nationalité</label>
						<input type="text" class="form-control" id="nationalityEntered">
						<label for="fatherFullName">Nom du Père</label>
						<input type="text" class="form-control" id="fatherFullName">
						<label for="motherFullNameEntered">Nom de la Mère</label>
						<input type="text" class="form-control" id="motherFullName"><hr />
						<label for="centerNameEntered">Raison de la venue</label>
						<input type="text" class="form-control" id="centerNameEntered"><hr />
						<input type="submit" class="form-control btn-success" value="ENREGISTRER">
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
