<!Doctype html>
<html>
    <head>
        <title>Liste des prestations coûtant plus d'un certain prix</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/handlingPages/ori/state3.css">
    </head>
    <body>
        <div class="container table-responsive">
            <table class="table table-striped" id="state0neTab">
                <thead>
                    <th>PRESTATIONS</th>
                    <th>COÛTS</th>
                </thead>
                <tbody id="stateOneTableBody">
                </tbody>
            </table>
            <input type="button" class="btn-success " value="Ajouter une ligne" id="addRowBtn"/>
        </div>
        
            
    </body>
    <script src="../js/state3.js"></script>
</html>