<!Doctype html>
<html>
    <head>
        <title>test2</title>
        <link rel="stylesheet" href="../css/handlingPages/styleHandlePatientsPage.css">

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial&display=swap" >
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body data-spy="scroll" data-offset="20">        
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <a href="loginPagePropositionParOri.html" class="navbar-brand"><img src="../img/icones/home2Yellow.png" alt="home_icon" class="img-responsive icon"></a>
                    </div>                
                    <ul class="nav navbar-nav">                    
                        <li class="active"><a href="#p0">Gestion Patients</a> </li>
                        <li><a href="#p1">Liste des États</a></li>                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="patientInfos"><a href="#"><form action=""><div class="form-group"><input type="text" class="form-control navbar-btn userInfos" id="userInfos" readonly></div></form></a></li>
                        <li><a href="#"><img src=".././img/userProfils/userProfil1.png" class="img-circle img-responsive" style=" height: 50px;" /></a></li>
                    </ul>
                </nav>
            </div> <!-- fin row nav -->
        </div>
          
    </body>
    <script src="../js/test2.js" ></script>
</html>