<!Doctype html>
<html>
    <head>
        <title>test</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/handlingPages/ori/test.css">
    </head>
    <body>
            <h1>PAGE CHARGÉE</h1>
            <form action="#" method="POST" autocomplete="on" id="formTest">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <label for="val1">VALEUR 1</label>
                    <input type="text" name="" id="val1" class="form-control" autofocus>
                </div>
            </form>
    </body>
    <script src="../js/test.js"></script>
</html>