<!Doctype html>
<html>
	<head>
			<title>Test Save Patients</title>
						
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			<link rel="stylesheet" type="text/css" href="../css/handlingPages/styleTestSavePatients.css">
	</head> 
	<body data-spy="scroll" data-offset="20">
				<form action="">
                   <div class="form-group">
                       <label for="">patientId</label>
                       <input type="text" class="form-control">
                       <label for="">name</label>
                       <input type="text" class="form-control">
                       <label for="">firstName</label>
                       <input type="text" class="form-control">
                       <label for="">birthDate</label>
                       <input type="date" class="form-control">
                       <label for="">pieceNumber</label>
                       <input type="text" class="form-control">
                       <label for="">typeOfPiece</label>
                       <input type="text" class="form-control">
                       <label for="">gender</label>
                       <input type="text" class="form-control">
                       <label for="">address</label>
                       <input type="text" class="form-control">
                       <label for="">placeOfResidence</label>
                       <input type="text" class="form-control">
                       <label for="">phoneNumber</label>
                       <input type="text" class="form-control">
                       <label for="">employer</label>
                       <input type="text" class="form-control">
                       <label for="">electricityRelease</label>
                       <input type="text" class="form-control">
                       <label for="">waterClearance</label>
                       <input type="text" class="form-control">
                       <label for="">nationality</label>
                       <input type="text" class="form-control">
                       <label for="">patientId</label>
                       <input type="text" class="form-control">
                       <label for="">patientId</label>
                       <input type="text" class="form-control">
                       <label for="">patientId</label>
                       <input type="text" class="form-control">
                       <label for="">patientId</label>
                       <input type="text" class="form-control">
                       <label for="">patientId</label>
                       <input type="text" class="form-control">
                       <label for="">patientId</label>
                       <input type="text" class="form-control">
                   </div>
                </form>
	</body>
	<script src="../js/testSavePatients.js"></script>
</html>
