body{
    font-family: 'Questrial';
}
.container1{
    background-color: #000;
    height: 20px;
}
.container21{
    background-image: url("../../img/medecine/medecine10.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #eeff00;
    font-weight: bold;
}

.profilUserMenu1{
    height: 130px;
    background-color: #F00;
}
.profilUserMenu2{
    background-color: #000000;
    height: 130px;
}
.profilUserMenu3{
        height: 130px;
        background-image: url("../../img/userProfils/userProfil1.png");
        background-repeat: no-repeat;
        background-size: 95%;
        background-color: #ff7f50;
        background-position: center;
}
.userInfo{
    background-color: #6495ed;
}
.container label:hover {
    text-shadow: 2px 2px 12px rgb(2, 1, 1);
    font-size: 15px;
}
