<!Doctype html>
<html>
    <head>
        <title>Gestion des patient</title>
        <link rel="stylesheet" href="../css/handlingPages/styleHandlePatientsPage.css">
        <meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial&display=swap" >
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
    <body data-spy="scroll" data-offset="20">        
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <a href="loginPagePropositionParOri.html" class="navbar-brand"><img src="../img/icones/home2Yellow.png" alt="home_icon" class="img-responsive icon"></a>
                </div>                
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#p0">Gestion Patients</a> </li>
                    <li><a href="#p1">Patients réçents</a></li>
                </ul>
            </nav>
            <div id="p0">
                <div class="container">
                    <div class="col-2 col-sm-2 col-md-2"></div>
                    <div class="col-8 col-md-8 col-sm-8">
                        <div class="row rowForm">
                            <form action="">
                                <div class="row">
                                    <div class="form-group patientHandling col-8 col-sm-8 col-md-8">
                                        <label for="findPatient" class="patientNumberLabel">Numéro du Patient</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group col-4 col-sm-4 col-md-4">
                                        <input type="submit" class="form-control btn-default findButton" value="Rechercher">
                                        <!-- <button class="form-control btn-default findButton"><img src="../img/icones/find.png" alt="find_icon" class="icon" style="float: left;"><h6 class="findButtonName">Rechercher</h6></button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <a href="./savePatientPage.html"><input type="submit" class="form-control btn-default addButton" value="NOUVEAU PATIENT"></a>
                            <!-- <a href="./savePatientPage.html"></a><button class="btn-default form-control addButton"> <img src="../img/icones/add.png" alt="add_icon" class="icon img-responsive" style="float: left;"><h6 class="addButtonName" >NOUVEAU PATIENT</h6 ></button></a> -->
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2"></div>
                </div>
            </div>
            <div id="p1" class="patientHandling"><h1>LISTE DES PATIENTS</h1> </div>
        </div>
    </body>
</html>