<!Doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset=" utf-8"/>
		<title>loginPage</title>
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
		<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./css/handlingPages/styleLoginPage.css">
	</head>
	<body>
			<div class="row">
				<div class="left">
					<div class="row"><div class="armoiriesCI"></div> </div>
					<div class="row between"></div>
					<div class="row"><div class="logoMSHP"></div> <div class="logoMFP"></div>  </div>
					<div class="row"><div class="logoChuT"></div></div>
				</div>
				<div class="right">
					<h1>ChuDesktop</h1>
					<button class="btn-success">SE CONNECTER</button> <br/>
					<button class="btn-success test">FERMER</button>
				</div>
				<div class="test"></div>
			</div>
			<div class="row"></div>
	</body>
</html>
